.intro {
  background: var(--color-background-inverse);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);
    color: var(--color-text-inverse);

    a { 
      color: var(--color-text-inverse);

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-text-inverse-highlight);

    &--compact {
      max-width: 20ex;
    }
  }
}
